# vim:set filetype=yaml:

develop:
  :host_tag: 'example-pw'
  :path:
    :local: '.'
    :remote: '/var/www/html/example'

maseter:
  :host_tag: 'example'
  :path:
    :local: './'
    :remote: '/var/www/html/example'
